<div class="mate-main-page">

    <div class="vertical-menu">
    <div class="h-100">
        <div class="user-wid text-center py-4">
            <div class="user-img">
                <img src="../assets/images/default-avatar.png" alt="" class="avatar-md mx-auto rounded-circle">
            </div>

            <div class="mt-3">

                <a href="#" class="text-dark font-weight-medium font-size-16">Bhavna Dhankarghare</a>
                <p class="text-body mt-1 mb-0 font-size-13">Mate</p>

            </div>
        </div>
        <!--- Get-Mate world -->
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled mm-show" id="side-menu">
                <li class="menu-title">Get-Mate World</li>
                <!-- Profile start -->
                <li class="mm-active">
                    <a href="javascript: void(0);" class="waves-effect mm-active">
                        <img src="../assets/images/default-avatar.png" alt="" class="profile-avatar-sd mx-auto rounded-circle">
                        <span class="profile-name-sd">Jyoti Malviya</span>
                        <span class="badge badge-pill badge-info float-right">Send request</span>
                    </a>
                </li>
                <li class="mm-active">
                    <a href="javascript: void(0);" class="waves-effect mm-active">
                        <img src="../assets/images/default-avatar.png" alt="" class="profile-avatar-sd mx-auto rounded-circle">
                        <span class="profile-name-sd">Roshan Dibya Ranhan</span>
                        <span class="badge badge-pill badge-info float-right">Send request</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
    </div>

<!--Get-Mate Experience-->
    <div class="main-content">
    <div class="page-content">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title mb-0 font-size-18">Get-Mate Experience</h4>
                </div>
            </div>
        </div>
        <!--Share Get-Mate Experience-->
        <div class="row">
            <div class="col-xl-9">
                <div class="form-card">
                    <div class="form-card-body">
                        <form>
                            <h4 class="form-title">Share Your GATE-MATE Experience</h4>
                            <div class="form-group row">
                              <label for="TravelDate" class="col-xl-4 col-form-label">Travel Date : </label>
                              <div class="col-xl-8">
                                <input type="date" class="form-control" id="TravelDate">
                              </div>
                            </div>
                            <div class="form-group row">
                                <label for="TravelFrom" class="col-xl-4 col-form-label">Travel From : </label>
                                <div class="col-xl-8">
                                  <input type="date" class="form-control" id="TravelFrom">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="TravelTo" class="col-xl-4 col-form-label">Travel To : </label>
                                <div class="col-xl-8">
                                  <input type="date" class="form-control" id="TravelTo">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="TravelMode" class="col-xl-4 col-form-label">Travel Mode : </label>
                                <div class="col-xl-8">
                                  <input type="text" class="form-control" id="TravelMode">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="NumberOfPeople" class="col-xl-4 col-form-label">Number of People : </label>
                                <div class="col-xl-8">
                                  <input type="text" class="form-control" id="NumberOfPeople">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="UploadPhoto" class="col-xl-4 col-form-label">Upload Photo : </label>
                                <div class="col-xl-8">
                                    <input type="file" class="custom-file-input" id="UploadPhoto"
                                    aria-describedby="inputGroupFileAddon01">
                                  <label class="custom-file-label" for="UploadPhoto">Choose file</label>
                                </div>
                              </div>
                              <div class="form-btn-primary-div">
                                <button type="submit" value="Share" class="form-btn-primary btn btn-primary">Share your experience</button>
                              </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Your Get-Mate Post-->
        <div class="row">
            <div class="col-xl-9">
                <div class="form-card">
                    <div class="form-card-body" style="padding: 10px;">
                        <div class="media">
                            <div class="row">
                                <div class="col-12">
                                    <a class="pull-left" href="#">
                                        <img class="panel-profile-avatar-sd mx-auto rounded-circle" src="http://placekitten.com/150/150">
                                    </a>
                                    <div class="write-post-media-heading">
                                        <h4 class="text-dark font-size-16">Bhavna Dhankarghare</h4>
                                        <button class="post-button btn btn-primary"><i class="fa fa-share" aria-hidden="true"></i> Share this post</button>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="post-details">
                                        <textarea id="myPost" class="form-control" placeholder="Write here..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="media">
                            <div class="row">
                                <div class="col-12">
                                    <a class="pull-left" href="#">
                                        <img class="panel-profile-avatar-sd mx-auto rounded-circle" src="http://placekitten.com/150/150">
                                    </a>
                                    <div class="post-media-heading">
                                        <h4 class="text-dark font-size-16">Bhavna Dhankarghare</h4>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> 2 days, 8 hours </span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="post-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                                        Aliquam in felis sit amet augue.</p>
                                    <ul class="list-inline list-unstyled">
                                        <li><span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 16 likes</span></li>
                                        <li>|</li>
                                        <li><span><i class="fa fa-comments-o" aria-hidden="true"></i> 2 comments</span></li>
                                        <li>|</li>
                                        <li>
                                        <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                            <span><i class="fa fa-facebook-square"></i></span>
                                            <span><i class="fa fa-twitter-square"></i></span>
                                            <span><i class="fa fa-google-plus-square"></i></span>
                                        </li>
                                      </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="media">
                            <div class="row">
                                <div class="col-12">
                                    <a class="pull-left" href="#">
                                        <img class="panel-profile-avatar-sd mx-auto rounded-circle" src="http://placekitten.com/150/150">
                                    </a>
                                    <div class="post-media-heading">
                                        <h4 class="text-dark font-size-16">Bhavna Dhankarghare</h4>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> 3 days, 1 hours </span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="post-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                                        dolor, in sagittis nisi.</p>
                                    <ul class="list-inline list-unstyled">
                                        <li><span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 10 likes</span></li>
                                        <li>|</li>
                                        <li><span><i class="fa fa-comments-o" aria-hidden="true"></i> 0 comments</span></li>
                                        <li>|</li>
                                        <li>
                                        <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                            <span><i class="fa fa-facebook-square"></i></span>
                                            <span><i class="fa fa-twitter-square"></i></span>
                                            <span><i class="fa fa-google-plus-square"></i></span>
                                        </li>
                                      </ul>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>

<!--Connected Friends-->
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Connected Friends
                    <div class="btn-group pull-right">
                            <i aria-hidden="true" class="fa fa-chevron-down"></i>
                    </div>
                    </a>
                </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                    <div class="panel-body-row">
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                    </div>
                    <div class="panel-body-row">
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                    </div>
                    <div class="panel-body-row">
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                        <div class="col-3"><img src="../assets/images/default-avatar.png" alt="" class="panel-profile-avatar-sd mx-auto rounded-circle"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>